= form_for(@message) do |f|
  - if @message.errors.any?
    #error_explanation
      %h2
        = pluralize(@message.errors.count, "error")
        prohibited this message from being saved:
      %ul
        - @message.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :article_id
    %br/
    = f.number_field :article_id
  .field
    = f.label :text
    %br/
    = f.text_area :text
  .actions
    = f.submit
