= form_for(@favorite) do |f|
  - if @favorite.errors.any?
    #error_explanation
      %h2
        = pluralize(@favorite.errors.count, "error")
        prohibited this favorite from being saved:
      %ul
        - @favorite.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :user_id
    %br/
    = f.number_field :user_id
  .field
    = f.label :article_id
    %br/
    = f.text_field :article_id
  .actions
    = f.submit
