%h1 Listing favorites
%table
  %thead
    %tr
      %th User
      %th Article
      %th
      %th
      %th
  %tbody
    - @favorites.each do |favorite|
      %tr
        %td= favorite.user_id
        %td= favorite.article_id
        %td= link_to 'Show', favorite
        %td= link_to 'Edit', edit_favorite_path(favorite)
        %td= link_to 'Destroy', favorite, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Favorite', new_favorite_path
