%h1 Listing articles
%table
  %thead
    %tr
      %th User
      %th Group
      %th
      %th
      %th
  %tbody
    - @articles.each do |article|
      %tr
        %td= article.user_id
        %td= article.group_id
        %td= link_to 'Show', article
        %td= link_to 'Edit', edit_article_path(article)
        %td= link_to 'Destroy', article, method: :delete, data: { confirm: 'Are you sure?' }
%br/
= link_to 'New Article', new_article_path
