%p#notice= notice
%p
  %strong Email:
  = @user.email
%p
  %strong Password:
  = @user.password
%p
  %strong Name:
  = @user.name
= link_to 'Edit', edit_user_path(@user)
|
\#{link_to 'Back', users_path}
