%p#notice= notice
%p
  %strong Group:
  = @groups_user.group_id
%p
  %strong User:
  = @groups_user.user_id
= link_to 'Edit', edit_groups_user_path(@groups_user)
|
\#{link_to 'Back', groups_users_path}
