= form_for(@photo) do |f|
  - if @photo.errors.any?
    #error_explanation
      %h2
        = pluralize(@photo.errors.count, "error")
        prohibited this photo from being saved:
      %ul
        - @photo.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :article_id
    %br/
    = f.number_field :article_id
  .field
    = f.label :path
    %br/
    = f.text_field :path
  .actions
    = f.submit
