= form_for(@icon) do |f|
  - if @icon.errors.any?
    #error_explanation
      %h2
        = pluralize(@icon.errors.count, "error")
        prohibited this icon from being saved:
      %ul
        - @icon.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :user_id
    %br/
    = f.number_field :user_id
  .field
    = f.label :path
    %br/
    = f.text_field :path
  .actions
    = f.submit
